nav {
    text-align: center;
}

p {
    color: blue;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
}

form {
    text-align: center;
    background-color: beige;

}

img {
    background-color: black;
}